*{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    font-size: 16px;
    scroll-padding: 2rem;
}

.sin-borde{
    border:0;
}

/* Espacio entre todas las secciones */
#catalogo, #talles, #lavado, #contacto, #nosotros{
    min-height: 100vh;
}

/*
.navbar{
    height: 56px;
    margin-bottom: 10px;
    padding: 20px;
}
.navbar .navbar-brand{
    max-width: 50%;
    margin-left: 3%;
    padding: 0;
}
.navbar .navbar-brand img{
    width: 40%;
    height: 20%;
}
*/
.navbar .navbar-brand img{
    height:2rem;
}

a.nav-link{
    color: #3b3b3b;
    font-size: 18px;
    font-weight: 200;
}
a.nav-link:hover{
    color:  hwb(0 3% 69% / 0.877);
    font-weight: 600;
}

/*Estilos seccion Nosotros*/
#nosotros{
    background-color: hwb(0 3% 69% / 0.082);
}
.card{
    padding-left: 10px;
    padding-bottom: 30px;
    background-color: transparent;
}
.img-fluid{
    padding: 40px 0px 20px 145px;
    width: 80%;
}
h5{
    font-weight: 600;
    font-size: 30px;
    padding-left: 40px;
}
p.card-text{
    color: #000000;
    font-size: 18px;
    opacity: 0.9;
    padding-left: 40px;
}
video{
    width:100%;
    height: 100%;
    padding: 120px 0px 0px 0px;
}
/*Seccion Catalogo*/
.row.catalogo{
    margin:10px 6px 0px 6px;
    padding-top: 30px;
    padding-bottom: 0px;
}
.row.catalogo2{
    margin: 2px 6px 0px 6px;
    padding-bottom: 0px;
}
.card.catalogo{
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 1px;
    height: min-content;
} 

.carousel-control-next-icon, 
.carousel-control-prev-icon{
    filter: invert();
}

.carousel-item{
    text-align: center;
}

img.catalogo{
    aspect-ratio: 16/9;
    object-fit:contain;
    width:70%;
    margin-inline: auto;
}
p.descripcionArticulo{
    color: #000000;
    font-size: 18px;
}
/*Seccion medidas, talles*/
.row.medidas{
    margin-top: 40px;
    background-color: hwb(0 3% 69% / 0.082);
    padding-top: 30px ;
}
p.talles{
    color: #000000;
    font-size: 16px;
    opacity: 0.9;
    font-weight: 200;
    padding-left: 40px;
}
h3{
    padding-left: 40px;
}
img.medidas{
    width: 80%;
    height: 90%;
    padding-left: 40px;
}
.tabla.btn-primary{
    font-weight: 600;
    margin-top: 10px;
    margin-inline: 56%;
    width: max-content;
    background-color: hwb(0 3% 69% / 0.836);border: none;
  }
  .tabla.btn-primary:hover{
    background-color: #fff;
    color:  hwb(0 3% 69% / 0.836);
  }
img.talles{
    width: 100%;
}
/*Seccion Tips de lavado*/
.row.tipslavado{
    margin-top: 40px;
    padding-top: 30px ;
}
    
p.tips-lavado, li.lavado{
    color: #000000;
    font-size: 18px;
    opacity: 0.9;
    font-weight: 200;
    padding-left: 40px;
    padding-top: 10px;
}
i.bx.bxs-washer{
    color: #602828;
    background-color: #fff;
    font-size: 60px;
}
.img.iconos-lavado{
    color: #602828;
    background-color: #fff;
    font-size: 60px;s
}
.img-lavado{
   width: 90%;
}
/*Seccion Contacto*/
#contacto{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    background-color: hwb(0 3% 69% / 0.082);
}
    ul{
    list-style: none;
    text-align:left ;
    text-decoration: none;
}
    li{
    margin-bottom: 10px;
    line-height: 1.5;
}
    a{
    font-weight: 600;
    text-decoration:none;
    color: black;
}
    .icon-redes{
        font-size: 3.5vw;
        text-align: center;
        color: hwb(0 3% 69% / 0.836);
        margin-right: 5px;
    }
    .fa-solid, .fa-brands, .fab{
        color: hwb(0 3% 69% / 0.836);
    } 
    .icon-redes:hover{
        font-size: 3.1vw;
    } 
    h4{
        font-weight: 600;
        font-size: 30px;
        padding-top: 10px;
        text-align: center;
    }
    h6{
        font-size: 20px;
    }

iframe#form{
    margin-top: 60px;
}
/*Footer*/
#footer {
    background-color: hwb(0 3% 69% / 0.877);
    text-align: center;
    height:max-content;
    padding-bottom: 0;
}
.social-icons{
    font-size: 3.5vw;
    text-align: center;
    width: 100%;
}
.social-icons a{
    margin-right: 6px;
}
.bx, .bxl{
    color: #fff;
    background: none;
}
.bx:hover, .bxl:hover{
    font-size: 3.1vw;
}
p{
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 0;
}
.bx-heart, .fa-regular, .fa-lightbulb{
font-size: 2vw;
}

